<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <style>
        .nice_form{
            border-radius: 5px;
            border: 2px solid #ccc;
            width: 20%;
            height:25px;
        }
        .nice_text {
            color: burlywood;
        }
        .nice_button {
            border-radius: 5px;
            border: 2px solid #ccc;
            width: 10%;
            height:25px;
        }
    </style>
</head>
<body>
<div style="width: 100%; text-align: center; padding-top: 10%">
<h1 class="nice_text"> Logged out!</h1>
<a href="{% url 'login' %}">Log in?</a>
</form>
    </div>
</body>
</html>